[data-theme="light"] {
  --main-bg-color: #163020;
  --main-text-color: #EEF0E5;
  --accent-color: #304d30;
  --notification-bg: #b6c4b6;
  --error-color: #9A031E;
  --input-text-color: #163020;
  --mode-color: #163020;
}

[data-theme="dark"] {
  --main-bg-color: #07120c;
  --main-text-color: #57b60bc7;
  --accent-color: #3e3a3a;
  --notification-bg: #3e3a3a;
  --error-color: #9A031E;
  --input-text-color: #57b60bc7;
  --mode-color: #57b60bc7;
}

/* :root {
  --main-bg-color: #163020;
  --main-text-color: #EEF0E5;
  --accent-color: #304d30;
  --notification-bg: #b6c4b6;
  --error-color: #9A031E;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
  transition: all 0.15s ease-in-out;
  position: relative;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: var(--notification-bg);
  border-radius: 5px;
  color: var(--input-text-color);
  font-weight: 800;
  text-transform: capitalize;
  animation: alert-box .5s ease-in-out;
}

.theme{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.6rem 0.8rem;
  margin: 1rem;
  background-color: var(--notification-bg);
  border-radius: 50%;
  color: var(--mode-color);
  font-weight: 800;
  border: none;
}

@keyframes alert-box {
  0% {
      top: -20%;
  }
  100% {
      top: 0%;
  }
}

label {
  font-weight: 600;
}

#heading {
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

#heading h1 {
  font-size: 5rem;
}

#generationgSection {
  display: flex;
  background-color: var(--notification-bg);
  border-radius: .5rem;
}

#generationgSection input {
  width: 100%;
  height: 4rem;
  background-color: inherit;
  border-radius: inherit;
  color: var(--input-text-color);
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.8rem;
}

#generationgSection div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  color: var(--mode-color);
  transition: .3s all ease-in-out;
}

.fa-copy:hover {
  color: var(--main-bg-color);
}

#requementSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  background-color: var(--accent-color);
  border: 1px solid var(--main-bg-color);
  padding: 1rem;
  border-radius: 2rem;
  width: 70%;
  margin: auto;
}

#btnSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin: 1rem 0;
}

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox__input {
  position: absolute;
  width: 1.375em;
  height: 1.375em;
  opacity: 0;
  cursor: pointer;
}

.checkbox__input:checked + .checkbox__icon .tick {
  stroke-dashoffset: 0;
}

.checkbox__icon {
  width: 1.375em;
  height: 1.375em;
  flex-shrink: 0;
  overflow: visible;
}

.checkbox__icon .tick {
  stroke-dasharray: 20px;
  stroke-dashoffset: 20px;
  transition: stroke-dashoffset 0.2s ease-out;
}

.checkbox__label {
  margin-left: 0.5em;
}

.range-slider {
  width: 70%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: var(--notification-bg);
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--accent-color);
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: var(--main-bg-color);
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: var(--main-bg-color);
}

.range-slider__range:active::-moz-range-thumb {
  background: var(--main-bg-color);
}

.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px var(--main-text-color), 0 0 0 6px var(--main-bg-color);
}

::-moz-range-track {
  background: var(--main-text-color);
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.red {
  color: var(--error-color);
}

#passwordStrength,
#passwordStrengthRequired {
  visibility: hidden;
}

#passwordStrengthRequired {
  font-size: 0.7rem;
  color: var(--main-text-color);
  padding: 0.3rem 0.8rem;
  background-color: rgba(171, 47, 47, 0.62);
  width: fit-content;
  border-radius: 1rem;
  margin: auto;
}

.copyright {
  z-index: 1;
  position: absolute;
  color: var(--main-text-color);
  bottom: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}

.copyright a {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 600;
}
